body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
}

.App {
  /* text-align: center; */
  height: 100%;
  display: flex;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main header {
  margin-bottom: 40px;
  border-bottom: 1px solid #efefef;
}
header h1 {
  display: flex;
  align-items: center;
  /* transform: translateX(-20px); */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fit-last-cell tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.fit-first-cell tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

.button-group button + button {
  margin-left: 5px;
}

.v-center {
  vertical-align: middle !important;
}

table table {
  margin-bottom: 1rem !important;
  /* width: 95%!important; */
  /* display: inline-flex!important; */
}

.xs {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.65rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}

.xxs {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.65rem !important;
  line-height: 1 !important;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.crop-container {
  /* width: 300px; */
  height: 300px;
  margin-left: 0.5rem;
  position: inherit;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 80px; */
}

.hover-change {
  position: relative;
  /* width: 50%; */
}

.hover-change img {
  opacity: 1;
  display: block;
  /* width: 100%; */
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hover-change .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-change .uploaded {
  position: absolute;
  top: 1%;
  right: 5%;
  color: #4caf50;
}

.hover-change:hover img {
  opacity: 0.3;
}

.uploading img {
  opacity: 0.3;
}

.trashed img {
  opacity: 0.3;
}

.hover-change:hover .middle {
  opacity: 1;
}

.middle-progress {
  transition: 0.5s ease;
  position: relative;
  left: 50%;
  top: -46%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.trashed {
  position: relative;
}

.trashed .middle {
  /* transition: 0.5s ease; */
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #353535;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* margin-bottom: -50%; */
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.spinner-border-xs {
  width: 0.65rem !important;
  height: 0.65rem !important;
}

.font-small {
  font-size: small;
}

.tooltip-danger > .tooltip-inner {
  background-color: #dc3545;
  color: white;
  border: 1px solid #dc3545;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip-danger.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #dc3545 !important;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip-danger.bs-tooltip-top .arrow::before {
  border-top-color: #dc3545 !important;
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.tooltip-danger.bs-tooltip-left .arrow::before {
  border-left-color: #dc3545 !important;
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.tooltip-danger.bs-tooltip-right .arrow::before {
  border-right-color: #dc3545 !important;
}

.d-flex > .hover-change,
.uploading,
.trashed > img {
  text-align: center;
  margin: 5px;
}
